In [2]:
orders=[['apple',10],['banana',6],['cherry',8],['dragon',11],['apple',20]]
orders

[['apple', 10], ['banana', 6], ['cherry', 8], ['dragon', 11], ['apple', 20]]

In [5]:
for each in orders:
    if each[0]=="cherry":
        each[1]=10
print(orders)

[['apple', 10], ['banana', 6], ['cherry', 10], ['dragon', 11], ['apple', 20]]

In [21]:
apple_orders=[]
for each in orders:
    if each[0]=='apple':
        apple_orders.append(each[1])    
print(apple_orders)

[10, 20]

In [22]:
print(sum(apple_orders))

30

TUPLES

In [33]:
t1=(3,5,9,10)
t2=10,20,30,"hi"
t3=([1,2,5,7])
t4=([3,4,5],(1,2,3),"hello",105)
print(t1)
print(t2)
print(t3)
print(type(t3))
print(t4)
print(type(t4))

(3, 5, 9, 10)
(10, 20, 30, 'hi')
[1, 2, 5, 7]
<class 'list'>
([3, 4, 5], (1, 2, 3), 'hello', 105)
<class 'tuple'>

In [37]:
#tuple can modify when it is in list because list can modify and mutable
t4[0][2]=10
t4

([3, 4, 10], (1, 2, 3), 'hello', 105)

In [40]:
#tuple cannot modify 
t4[1][1]=100
t4

TypeError: 'tuple' object does not support item assignment

In [44]:
t4=([3,4,5],(1,2,3),"hello",105)
t4.index("hello")

2

In [46]:
t5=(10,20,30,40,20,20,30,10,20,30,30,30,30)
t5.count(20)

4